src/out.txt
src/main.o
src/main.d
src/spike_install
src/spike_demo
src/s2_demo_proc.d
src/s2_demo_proc.o
src/memory_simulator.o
src/memory_simulator.d
.vscode
src/.vscode
src/sw/main.o
src/sw/start.o
